.sidebar {
  width: 420px;
  min-width: 280px;
  max-width: 400px;
  flex-shrink: 0;
  background-color: var(--background-dark);
  border-right: 1px solid var(--input-border);
  transition: width 0.3s ease;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }
  scrollbar-width: none;
  scrollbar-color: transparent transparent;

  &--collapsed {
    width: 0px;

    .sidebar__header h3 {
      display: none;
    }

    .sidebar__nav {
      > * {
        .account-folder__name,
        .account-folder__balance,
        .account-folder__chevron {
          display: none !important;
        }

        .account-folder__icon {
          margin: 0;
        }

        .account-folder {
          padding: 0 12px;
          justify-content: center;
        }

        .account-folder__sub-accounts,
        .sidebar__item {
          display: none !important;
        }
      }
    }
  }
}

.sidebar__header {
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid var(--input-border);
}

.sidebar__nav {
  padding: 8px 8px;
  overflow-y: auto;
  height: calc(100% - 56px);

  &::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}
