.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--background-dark);
  color: var(--text-light);
}

.main-layout__content {
  display: flex;
  flex: 1;
  overflow: hidden;
  width: 100%;
}

.main-layout__main {
  flex: 1;
  min-width: 600px;
  overflow-y: auto;
  background-color: var(--input-bg);
  box-sizing: border-box;
}
