// === Переменные ===
$sub-account-height: var(--row-height);
$padding-x: 8px;
$sub-account-icon-width: 24px;
$sub-account-balance-value-width: 90px;
$sub-account-currency-width: 20px;
$sub-account-chevron-width: 24px;
$sub-account-gap-icon: 8px;
$sub-account-gap-name: 8px;

// === Стили ===
.sub-account {
  background: var(--bg-sub);
  border-radius: 12px;
  padding: 0 $padding-x;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $sub-account-height;
  color: var(--text-light);
  font-family: var(--font-family-mono);
  font-size: 14px;

  &:hover {
    background: rgba(19, 18, 18, 0.7);
  }

  &__icon {
    width: $sub-account-icon-width;
    text-align: center;
    flex-shrink: 0;
    margin-right: $sub-account-gap-icon;
    color: var(--accent-blue);
    opacity: 0.8;
    font-size: 18px;
  }

  &__name {
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: $sub-account-gap-name;
    font-weight: 500;

    @media (max-width: 360px) {
      display: none;
    }
  }

  &__balance-value {
    width: $sub-account-balance-value-width;
    text-align: right;
    flex-shrink: 0;
    font-weight: 500;

    &--negative {
      color: var(--negative);
    }

    &--positive {
      color: var(--positive);
    }
  }

  &__balance-currency {
    width: $sub-account-currency-width;
    text-align: left;
    flex-shrink: 0;
    color: #aaa;
    font-size: 14px;
    margin-left: 6px;
  }

  &__chevron {
    width: $sub-account-chevron-width;
    text-align: center;
    flex-shrink: 0;
    color: #aaa;
    font-size: 16px;
  }
}
